* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
  body {
    background-color: rgb(12, 12, 12);
    font-family: 'Arial', sans-serif; 
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background: rgb(9, 11, 13);
    width: 200px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  
  .top_section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .bars {
    display: flex;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 8px;
  }
  
  .link {
    display: flex;
    color: #fff;
    padding: 11px 15px; 
    gap: 15px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .link:hover {
    background: rgb(15, 15, 15);
    transition: all 0.5s;
  }
  
  .active {
    background: rgb(6, 90, 216);
    color: #000;
  }
  
  .icon,
  .link_text {
    font-size: 20px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-grow: 1; 
  }
  
  main {
    width: 100%;
    padding: 20px;
  }
  