@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display widgets in three columns */
  gap: 20px;
}

.center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: calc(10% - -40px); /* Adjust the value as needed */
}

.form.shifted {
  margin-left: 160px; /* Adjust the value as needed */
  width: 600px;
}

// style={{ display: 'flex', flexWrap: 'wrap', justifyContent: 'center' }}
// style={{ textAlign: 'center', marginTop: '20px' }}

.book-widget {
  width: 300px;
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin: 10px;
}

.book-widget h3 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.book-widget p {
  color: white;
  margin: 5px 0;
}
//
.book-widget span {
  font-weight: bold;
  color: white;
}

.actions {
  margin-top: 10px;
}

.actions button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.actions a button {
  background-color: #007bff;
}

.form {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
}

.form h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form input,
.form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(178, 212, 252, 0.05);
  color: white;
  border-radius: 10px;
  resize: none;
}

.form button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 10px;
}

.addHome {
  background-color: rgb(17, 161, 17);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 450px;
  transform: translateX(60%);
}

.addHome.showAddForm {
  transform: translateX(50%);
  margin-top: -5px;
}

.addHome:hover {
  background-color: green;
}


h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 30px;
  transform: translateX(60%);
  margin-top: 15px;
}

h1.showAddForm {
  transform: translateX(12%) !important; /* Move the h1 to the right by 10% when showAddForm is true */
}

h1.showEvents {
  transform: translateX(0%); /* Move the h1 to the left when showEvents is true */
}

@media screen and (max-width: 992px) {
  .center {
    margin-left: -250px;
  }

  .book-widget {
    width: 240px;
  }

  .form.shifted {
    margin-left: 150px; /* Adjust the value as needed */
    width: 600px;
  }

  .addHome {
    margin-left: -30px;
  }

  h1 {
    margin-left: -750px;
    transform: translateX(25%);
  }
}

@media screen and (max-width: 768px) {
  .books-container {
    display: grid;
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Display widgets in three columns */
    gap: 20px;
  }

  .addHome {
    margin-left: -200px;
  }

  .form.shifted {
    margin-left: -10px;
    margin-top: 10px;
  }

  .addHome.showAddForm {
    margin-left: -160px;
  }

  h1 {
    margin-left: -550px;
  }
}
